body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

body:before {
  content: "";
  position: absolute;
  background: url(./images/Blackberries.jpg);
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  transform: scale(5);
  transform-origin: top left;
  filter: blur(2px);
}

.right button {
  margin: 10px;
  background-color: rgba(240, 240, 240, 0.65);
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

.right button:hover {
  background-color: rgba(240, 240, 240, 1);
  transform: translateY(5px);
  transition: background-color, transform 0.3s;
}

.nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 15px;
}

.right {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right .current button {
  background-color: rgb(56, 112, 160);
}

.dash {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.content {
  width: 85%;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.664);
}

h2 {
  margin: 10px 0px 5px 10px;
}

.area {
  overflow: auto;
  white-space: nowrap;
}

.area .item {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 5px;
}

.item {
  background-color: rgb(255, 255, 255);
  width: 220px;
  height: 150px;
  margin: 20px;
}
.item2 {
  background-color: rgb(255, 255, 255);

  margin: 20px;
}
.top {
  color: black;
  height: 45%;
  display: flex;
  justify-content: space-between;
}

h3 {
  display: inline;
  margin: 0;
  font-size: 20px;
}

.middle {
  display: flex;
}

.bottom {
  color: black;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.util {
  transform: scale(1);
}

.fa-solid {
  font-size: 15px;
}
.quan {
  color: black;
  align-self: flex-start;
}

.ent {
  width: 55%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 15px;
}

.err {
  color: red;
}
